
<ion-content [fullscreen]="true">
  <div class="form-center">
    <ion-img src="/assets/images/VITLogo.png"></ion-img>
    <p class="col-p-101">Wellcome!</p>
    <p class="col-p-102">Admin</p>
    <div class="col-div-i-101">
    <ion-item lines="none">
      <ion-input class="col-i-101" name="mobileNumber" type="tel" placeholder="Enter OTP">
        <ion-icon  class="div-col-icon-101" name="chatbox-ellipses-outline"></ion-icon>
      </ion-input>
    </ion-item>
    </div>
    <div class="col-div-i-102">
  
   
  
    </div>
    <div >
    <ion-button class="button1" href="/dashboard" size="default">Verify</ion-button>
  </div>
  </div>
  
  </ion-content>
  