
.parent-div-101{
   
  
   width: 100%;
   padding: 0;
   margin: 0;
}
.logo-title-left, .col-title-101, .col-title-102{
    float: left;
}
.logo-title-left{
    width: 180px;
    height: 40px;
    margin-right: 25%;
}

.col-title-101 ion-title{
    --color: rgb(0, 0, 0);
  
    
}

.col-title-102 ion-title{
    --color: rgb(0, 0, 0);
   
    
  
}

.col-title-102 {

    margin-left: 0;
}

.col-title-101 {
        margin-right: 40%;
        

}