
<ion-content>
  <div class="parent-div-101">
    <div class="logo-title-left">
      <ion-img
      src="/assets/images/VITLogo.png"
      alt="VIT-HELP LOGO"
      >
      </ion-img>
    </div>

    <div class="col-title-101">
      <ion-title>DASHBOARD</ion-title>
    </div>

    <div class="col-title-102">
      <ion-title>ADMIN</ion-title>
    </div>
  </div>
  <div class="parent-div-102">
  
    <div class="volunteers-count">

      No of Volunteers 1:)  :(
    </div>
    <div class="cases-solved-count">

      No of Volunteers 2:)  :(
    </div>
    <div class="top-volunteers">

      No of Volunteers 3:)  :(
    </div>
    <div class="top-organization">

      No of Volunteers 4:)  :(
    </div>

  </div>

</ion-content>
