<body>


<ion-content>

  <div class="parent-div-101">
    <div class="logo-title-left">
      <ion-img
      src="/assets/images/VITLogo.png"
      alt="VIT-HELP LOGO"
      >
      </ion-img>
    </div>

    <div class="col-title-101">
      <ion-title>DASHBOARD</ion-title>
    </div>
  

    <div class="col-title-102">
      <ion-title>ADMIN</ion-title>
    </div>
  </div>
  <div class="parent-div-102">

    <div class="volunteers-count">

      <p>No of volunteers:_-_</p>
    </div>
    <div class="cases-solved-count">

      <p>No of case-solved:_-_ </p>
    </div>
    <div class="top-volunteers">

      <p>Top Volunteers:_-_ </p>
    </div>
    <div class="top-organization">

      <p>Top Organization:_-_ </p>
    </div>

  </div>

  <div class="pending-request-div">
    <div class="col-title-center">
      <h2><u>Pending Requests</u></h2>
    </div>

    <div class="index-row-div">
      <p>organization Name</p>
      <p>Type of organization</p>
      <ion-button color="warning">Show Details</ion-button>
      <ion-button color="success">Accept</ion-button>
      <ion-button color="danger">Decline</ion-button>
    </div>



  </div>
</ion-content>
</body>
