
.parent-div-101{
    float: left;
}

.logo-title-left{
    width: 180px;
    height: 40px;
    float: left;
}

.col-title-101 ion-title{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    --color: rgb(0, 0, 0);
    margin-top: 15px;
    
}

.col-title-102 ion-title{
    --color: rgb(0, 0, 0);
   
    
  
}

.col-title-102 {
    float: left;
}

.col-title-101 {
    float: left;
    margin-left: 50%;
}